@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";

@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "../fonts/font-awesome";

@import "variables.less";

@import url('http://fonts.googleapis.com/css?family=Lato:100,400,700');

html, body {
    height: 100%;
}

#wrap {
	margin-top: 120px; 
} 

a {
  transition: all 0.2s ease;
}

a:hover,
a:focus {
	text-decoration: none;
}

a.btn {
  transition: none;
}

.btn-default {
  color: #34A4F7;
  background-color: #FFF;
  border-color: #34A4F7;
}

.btn-default:hover,
.btn-default:focus {
  color: #FFF;
  background-color: #34A4F7;
  border-color: #34A4F7;
}

.btn-link {
  -webkit-box-shadow: none;
          box-shadow: none;

  &:hover {
    text-decoration: none;
  }

  &.active {
    -webkit-box-shadow: none;
            box-shadow: none;

    border: 1px solid @brand-alternate;

    &:hover {
      background: @brand-alternate;
      color: #FFF;
    }
  }
}

a.active {
  color: @brand-alternate;

  &:hover {
    color: darken(@brand-alternate, 10%);
  }
}

.text-alternate {
  color: @brand-alternate;
}

.navbar-brand {
  padding: 12px 15px;
  transition: all .3s;

  &:hover {   
    -webkit-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
  }
}

.brand-image {
  width: 35px;
  height: 35px;
  background-color: @brand-primary;
  border-radius: 3px;
  font-size: 36px;
  line-height: 30px;
  color: #fff;
  text-align: center;
}

.navbar-default {
  opacity: 0.90;
  border-bottom: 3px @brand-primary solid;
  -webkit-box-shadow: 0 3px 13px 0 rgba(2, 3, 3, 0.05);
  box-shadow: 0 3px 13px 0 rgba(2, 3, 3, 0.05);
  transition: opacity .3s ease-in;
}
.navbar-default:hover {
  opacity: 1;
}

.panel {
  margin-left: -15px;
  margin-right: -15px;
}

@media (min-width: @screen-tablet) {
  .panel {
    margin-left: 0;
    margin-right: 0;
  }
}

.panel-default.nsfw {
  border-color: @brand-danger;
}

.panel-heading {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 2.2em;
}
.panel-footer {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 100;
}
.panel-footer a {
  font-weight: 400;
}
.panel-body {
  line-height: @line-height-computed + 2px;
}

.panel-default > .panel-heading,
.panel-default > .panel-footer {
  background-color: transparent;
  border: none;
}


.showmore-container {
	width: 90%;
	margin: 5px auto;
}

.panel {
	margin-bottom: 40px;
}

.panel-body > .panel-text {
  font-family: @font-family-serif;
	position: relative;
	margin: 0 auto;
	width: 85%;
	text-align: justify;
	font-size: 16px;
	line-height: 1.65;

  & img {
    display: block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
    margin: 10px auto;
    border-radius: 6px; 
  }
}

.panel-footer [class^="fa-"], .panel-footer [class*=" fa-"] {
	font-size: 18px;
	padding: 5px;
}

.panel-text-short {
	overflow: hidden;
	max-height: 250px;
}

.col-md-3.sidebar {
  position: fixed;
  top: 120px;
  width: 263px;

  & .panel-heading {
    font-size: 1.6em;
  }
}

.upvote-wrapper {
  position: relative; 
}

.media-body > .media {
  margin-left: 30px;
}

.spinner {
  margin: 10px auto;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: @brand-alternate;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*
	Loading Anitmation
*/
.loading {
	display: block;
	margin: 20px 0 0 20px;
}
.loading > .ball-outer {
    background-color: rgba(0,0,0,0);
    border: 5px solid @brand-primary;
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    -moz-animation: spin .75s infinite linear;
    -webkit-animation: spin .75s infinite linear;
}

.loading > .ball-inner {
    background-color: rgba(0,0,0,0);
    border: 10px solid @brand-alternate;
    opacity: .9;
    border-top: 10px solid rgba(0,0,0,0);
    border-left: 10px solid rgba(0,0,0,0);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    position: relative;
    top: -70px;
    -moz-animation: spinoff .5s infinite linear;
    -webkit-animation: spinoff .5s infinite linear;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-moz-keyframes spinoff {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(-360deg);
    };
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    };
}