body > .container {
	margin-top: 80px;
}

.showmore-container {
	width: 90%;
	margin: 5px auto;
}

.panel {
	margin-bottom: 40px;
}

.panel-body > .panel-text {
	position: relative;
	margin: 0 auto;
	width: 85%;
	text-align: justify;
	font-size: 16px;
	line-height: 1.65;
}

.panel-footer [class^="icon-"], .panel-footer [class*=" icon-"] {
	font-size: 18px;
	padding: 5px;
}

.panel-text-short {
	overflow: hidden;
	max-height: 250px;
}
.panel-text img {
	display: none;
}

.embed {
	max-width: 100%;
	margin: 0 auto;
}
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.media {
    position: relative;
    overflow: hidden;

    /* Only the -webkit- prefix is required these days */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}

.media::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.media-nsfw::before {
    background: rgba(0, 0, 0, .98);
    transition: background .35s ease-out;
}

.media-nsfw:hover::before {
    background: transparent;
}

.media-image {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.media-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;

    -webkit-transform: translateY(50%);
            transform: translateY(50%);

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}

.media-overlay-title {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
    text-align: center;
    font-size: 48px;
  
    -webkit-transform: translateY( -50% );
            transform: translateY( -50% );

    transition: -webkit-transform .35s ease-out, opacity .35s ease-out;
    transition:         transform .35s ease-out, opacity .35s ease-out;
}

.media-nsfw:hover .media-overlay-title {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
    opacity: 0;  
}